<div ng-controller="EventDetailsCtrl">
  <div class="row" ng-show="errorMessage">

    <div class="col-lg-6">
      <rd-widget>
        <rd-widget-body classes="small no-padding">
          <h4 style="text-align:center">{{errorMessage}}</h4>
        </rd-widget-body>
        <rd-widget>
    </div>
  </div>

  <div class="row">

    <div>
      <rd-loading ng-hide="loaded || errorMessage"></rd-loading>
      <rd-widget ng-show="loaded">
        <rd-widget-header icon="fa-trophy" title="Event details for {{name}}">
          <a href="{{leaderboardUrl}}/{{gameid}}">Full Leaderboard</a>
        </rd-widget-header>
        <rd-widget-body classes="no-padding">
          <div ng-show="loaded">
            <h4 align="center" style="color:blue;" ng-bind-html="statusMessage"></h4>

            <div style="float:right; font-size:80%; font-style:italic; padding-right:10px;" ng-bind-html="lastUpdate"></div>

            <div ng-if="event">
              <h4><div style="text-align:center;">{{event.name}}
              </div></h4>
              <div style="text-align:center;"><a ng-href="{{tournamentUrl}}/{{gameid}}/{{event.id}}">Tournament Details</a>
              </div>
              <div class="scores" id="tablesection" align="center">
                <span ng-repeat="gamer in event.gamers">
                  <span class="playerlist">

                    <table border="1" cellpadding="4" cellspacing="0" width="40%">

                      <thead>
                        <tr>
                          <td class="playerlist-header-th" colspan="2" align="center">

                            <div id="playername"><b>{{gamer.name}}</b>
                            </div>

                          </td>
                        </tr>
                        <tr>
                          <td class="playerlist-subheader-th"></td>
                          <td class="playerlist-subheader-th"></td>
                        </tr>
                      </thead>

                      <tbody id="tablebody">


                        <tr ng-if="gamer.picks" ng-repeat="pick in gamer.picks track by $index">
                          <td class="playerlist-subheader-th"><a href="{{golferUrl}}/{{gameid}}/{{event.id}}/{{pick.id}}">{{pick.name}}</a></td>

                          <td class="playerlist-subheader-th" align="right">{{pick.total}}</td>
                        </tr>

                        <tr ng-if="!gamer.picks">
                          <td class="playerlist-subheader-th" align="center">[No Picks for this event]</td>

                          <td class="playerlist-subheader-th" align="right"></td>
                        </tr>

                        <tr class="playerlist-total">
                             <td class="playerlist-total-td" align="center">Total</td>

                             <td class="playerlist-total-td" align="right">{{gamer.total}}</td>
                         </tr>

                      </tbody>
                    </table>
                  </span>
                </span>
              </div>
            </div>

            </di </rd-widget-body>
            <rd-widget>
          </div>
    </div>

  </div>
