<div ng-controller="GamesCtrl">
  <div class="row">

    <div class="col-lg-6">
      <rd-loading ng-hide="loaded"></rd-loading>
      <rd-widget ng-show="loaded">
        <rd-widget-header icon="fa-trophy" title="Games for {{username}}">
        </rd-widget-header>
        <rd-widget-body classes="small no-padding">
          <h4 style="text-align:center">Current Seasons</h4>
          <div ng-repeat="active in activeSeasons" class="table-responsive">
            <table class="table">
              <tbody id="nextevent">

                <tr ng-if="active">
                  <td class="text-left"><b>{{active.name}}</b>
                  </td>
                  <td ng-if="active" class="text-center"><a ng-href="{{leaderboardUrl}}/id/{{active.id}}">Leaderboard</a>
                  </td>
                </tr>

                <tr ng-if="active.nextEvent">
                  <td ng-if="active.nextEvent.inProgress" class="text-center">Current event: {{active.nextEvent.name}}
                  </td>
                  <td ng-if="!active.nextEvent.inProgress" class="text-center">Next event: {{active.nextEvent.name}}
                  </td>

                  <td ng-if="active.nextEvent.canSetPicks" class="text-center"><a ng-href="{{picksUrl}}/id/event/{{active.id}}/{{active.nextEvent.id}}">Set Lineup</a>
                  </td>
                  <td ng-if="active.nextEvent.inProgress" class="text-center">Tournament in progress.
                  </td>
                  <td ng-if="active.nextEvent.opens" class="text-center">You can set your line up on {{active.nextEvent.opens}}
                  </td>
                </tr>

                <tr>
                  <td class="text-center" colspan="2">
                    <div class="status" ng-bind-html="statusMessage"></div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </rd-widget-body>
        <rd-widget>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6">
      <rd-widget ng-show="gameHistory.length>0">
        <rd-widget-header icon="fa-trophy" title="Game History">
        </rd-widget-header>
        <rd-widget-body classes="no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Game</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="game in gameHistory">
                  <td>{{game.name}}</td>
                  <td><a ng-href="{{leaderboardUrl}}/id/{{game.id}}">View</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </rd-widget-body>
        <rd-widget>
    </div>
  </div>

</div>
