<div ng-controller="GameCtrl">
  <script type="text/ng-template" id="deleteGame.html">
    <div class="modal-header">
      <h3 class="modal-title">Confirm delete</h3>
    </div>
    <div class="modal-body">
      <div>Delete game {{game.name}}? This will permanently remove the game.</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <div class="row">

    <rd-loading ng-hide="loaded"></rd-loading>

    <div class="col-md-6" ng-show="loaded">
      <rd-widget>
        <rd-widget-header icon="fa-user" title="{{title}}">
          <a ng-show="existingCourse" href="" ng-click="delete()">Delete</a>
        </rd-widget-header>
        <rd-widget-body classes="no-padding">
          <form>
            <div class="table-responsive" style="min-height:600px;">
              <table class="table">
                <tr>
                  <td><span>Name:</span>
                  </td>
                  <td>
                    <input size="60" ng-model="name"></input>
                  </td>
                </tr>
                <tr>
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Events<br>Select events to include in this game</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="event in fullSchedule">
                      <td class="text-center">
                        <input type="checkbox" ng-model="event.selected" ng-click="updateEvent(event);">
                        </input>
                      </td>
                      <td>
                        <div>{{event.name}}</div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </tr>
              <tr>
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Gamers<br>Select gamers to include in this game</th>
                  </tr>
                </thead>
                <tbody>

                  <tr ng-repeat="gamer in allGamers">
                    <td class="text-center">
                      <input type="checkbox" ng-model="gamer.selected" ng-click="updateGamer(gamer);">
                      </input>
                    </td>
                    <td>
                      <div>{{gamer.name}}</div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </tr>
                <tr class="text-center">
                  <td colspan="3">
                    <button ng-click="submit()">Save</button>
                  </td>
                </tr>
              </table>
            </div>
          </form>
        </rd-widget-body>
      </rd-widget>

    </div>
  </div>
</div>
