<div ng-controller="GolferCtrl">
	<div class="row" ng-show="errorMessage">

		<div class="col-lg-6">
			<rd-widget>
				<rd-widget-body classes="small no-padding">
					<h4 style="text-align:center">{{errorMessage}}</h4>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>

	<div ng-hide="!scores" class="row">

		<div>
			<rd-widget ng-show="loaded">
				<rd-widget-header icon="fa-user" title="{{scores.name}} ({{scores.total}})">
					<div>Round
						<button
							class="round-number btn btn-sm btn-info ng-scope"
							ng-class="{'current-round': roundNumber==1, 'disabled':!scores.round_details[1]}"
							ng-click="roundClicked(1);"
							ng-disabled="!scores.round_details[1]">
								1
						</button>
						<button
							class="round-number btn btn-sm btn-info ng-scope"
							ng-class="{'current-round': roundNumber==2, 'disabled':!scores.round_details[2]}"
							ng-click="roundClicked(2);"
							ng-disabled="!scores.round_details[2]">
								2
						</button>
						<button
							class="round-number btn btn-sm btn-info ng-scope"
							ng-class="{'current-round': roundNumber==3, 'disabled':!scores.round_details[3]}"
							ng-click="roundClicked(3);"
							ng-disabled="!scores.round_details[3]">
								3
						</button>
						<button
							class="round-number btn btn-sm btn-info ng-scope"
							ng-class="{'current-round': roundNumber==4, 'disabled':!scores.round_details[4]}"
							ng-click="roundClicked(4);"
							ng-disabled="!scores.round_details[4]">
								4
						</button>
					</div>
				</rd-widget-header>
				<rd-widget-body classes="no-padding">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr class="scorecard hole">
									<th>Hole</th>
									<td><div class="scorecell par">1</div></td>
									<td><div class="scorecell par">2</div></td>
									<td><div class="scorecell par">3</div></td>
									<td><div class="scorecell par">4</div></td>
									<td><div class="scorecell par">5</div></td>
									<td><div class="scorecell par">6</div></td>
									<td><div class="scorecell par">7</div></td>
									<td><div class="scorecell par">8</div></td>
									<td><div class="scorecell par">9</div></td>
									<td><div class="scorecell par">OUT</div></td>
									<td><div class="scorecell par"></div></td>
								</tr>
								<tr class="scorecard par">
									<td><div class="scorecell header">Par</div></td>
									<td><div class="scorecell par">{{round.par_values[0]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[1]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[2]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[3]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[4]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[5]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[6]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[7]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[8]}}</div></td>
									<td><div class="scorecell par">{{totals.front}}</div></td>
									<td></td>
								</tr>

								<tr class="scorecard handicap">
									<td>Score</td>
									<td><div class="scorecell {{net[0]}}">{{round.round_values[0]}}</div></td>
									<td><div class="scorecell {{net[1]}}">{{round.round_values[1]}}</div></td>
									<td><div class="scorecell {{net[2]}}">{{round.round_values[2]}}</div></td>
									<td><div class="scorecell {{net[3]}}">{{round.round_values[3]}}</div></td>
									<td><div class="scorecell {{net[4]}}">{{round.round_values[4]}}</div></td>
									<td><div class="scorecell {{net[5]}}">{{round.round_values[5]}}</div></td>
									<td><div class="scorecell {{net[6]}}">{{round.round_values[6]}}</div></td>
									<td><div class="scorecell {{net[7]}}">{{round.round_values[7]}}</div></td>
									<td><div class="scorecell {{net[8]}}">{{round.round_values[8]}}</div></td>
									<td class="scorecell par">{{playerTotals.front}}</td>
									<td></td>
								</tr>
								<tr class="scorecard hole">
									<td><div class="scorecell header">Hole</div></td>
									<td><div class="scorecell par">10</div></td>
									<td><div class="scorecell par">11</div></td>
									<td><div class="scorecell par">12</div></td>
									<td><div class="scorecell par">13</div></td>
									<td><div class="scorecell par">14</div></td>
									<td><div class="scorecell par">15</div></td>
									<td><div class="scorecell par">16</div></td>
									<td><div class="scorecell par">17</div></td>
									<td><div class="scorecell par">18</div></td>
									<td><div class="scorecell par">IN</div></td>
									<td><div class="scorecell par">TOTAL</div></td>
								</tr>
								<tr class="scorecard par">
									<td><div class="scorecell header">Par</div></td>
									<td><div class="scorecell par">{{round.par_values[9]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[10]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[11]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[12]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[13]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[14]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[15]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[16]}}</div></td>
									<td><div class="scorecell par">{{round.par_values[17]}}</div></td>
									<td><div class="scorecell par">{{totals.back}}</div></td>
									<td><div class="scorecell par">{{totals.total}}</div></td>
								</tr>

								<tr class="scorecard handicap">
									<td><div class="scorecell header">Score</div></td>
									<td><div class="scorecell {{net[9]}}">{{round.round_values[9]}}</div></td>
									<td><div class="scorecell {{net[10]}}">{{round.round_values[10]}}</div></td>
									<td><div class="scorecell {{net[11]}}">{{round.round_values[11]}}</div></td>
									<td><div class="scorecell {{net[12]}}">{{round.round_values[12]}}</div></td>
									<td><div class="scorecell {{net[13]}}">{{round.round_values[13]}}</div></td>
									<td><div class="scorecell {{net[14]}}">{{round.round_values[14]}}</div></td>
									<td><div class="scorecell {{net[15]}}">{{round.round_values[15]}}</div></td>
									<td><div class="scorecell {{net[16]}}">{{round.round_values[16]}}</div></td>
									<td><div class="scorecell {{net[17]}}">{{round.round_values[17]}}</div></td>
									<td><div class="scorecell par">{{playerTotals.back}}</div></td>
									<td><div class="scorecell par">{{playerTotals.total}}</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>

		</div>
	</div>


	<div ng-hide="!scores" class="row">

		<div>
			<rd-widget ng-show="loaded">
				<rd-widget-header icon="fa-pencil" title="Fantasy Scoring">
				</rd-widget-header>
				<rd-widget-body classes="no-padding">
					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr class="scorecard hole">
									<th colspan="2">Position Scoring</th>
								</tr>
								<tr class="scorecard handicap">
									<td>Current Position</td>
									<td>{{scores.score_details.positionStats.pos}}</td>
								</tr>

								<tr class="scorecard par">
									<td>Position Points</td>
									<td>{{scores.score_details.positionStats.score}}</td>
								</tr>

								<tr>
									<td></td>
									<td></td>
								</tr>

								<tr class="scorecard hole">
									<th colspan="2">Hole Scoring</th>
								</tr>
								<tr class="scorecard handicap">
									<td>Double Eagles or Better</td>
									<td>{{scores.score_details.holeStats.dblEaglePlus}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Eagles</td>
									<td>{{scores.score_details.holeStats.eagle}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Birdies</td>
									<td>{{scores.score_details.holeStats.birdie}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Pars</td>
									<td>{{scores.score_details.holeStats.par}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Bogies</td>
									<td>{{scores.score_details.holeStats.bogie}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Double Bogies</td>
									<td>{{scores.score_details.holeStats.dblBogie}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Others</td>
									<td>{{scores.score_details.holeStats.other}}</td>
								</tr>

								<tr class="scorecard par">
									<td>Hole Points</td>
									<td>{{scores.score_details.holeStats.score}}</td>
								</tr>

								<tr>
									<td></td>
									<td></td>
								</tr>

								<tr class="scorecard hole">
									<th colspan="2">Streak Scoring</th>
								</tr>

								<tr class="scorecard handicap">
									<td>Birdie Streaks</td>
									<td>{{scores.score_details.streakStats.birdieStreaks}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Bogey Free Rounds</td>
									<td>{{scores.score_details.streakStats.bogieFreeRounds}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>All Rounds Under 70</td>
									<td>{{(scores.score_details.streakStats.allRoundsSub70) ? "Yes" : "No"}}</td>
								</tr>
								<tr class="scorecard handicap">
									<td>Hole in Ones</td>
									<td>{{scores.score_details.streakStats.holeInOnes}}</td>
								</tr>

								<tr class="scorecard par">
									<td>Streak Points</td>
									<td>{{scores.score_details.streakStats.score}}</td>
								</tr>

								<tr class="scorecard handicap">
									<td>Major Multiplier</td>
									<td>{{(scores.score_details.multiplier==1) ? "No" : "Yes (" + scores.score_details.multiplier + "x)" }}</td>
								</tr>
								<tr class="scorecard par">
									<td>Total Points</td>
									<td>{{scores.score_details.total}}</td>
								</tr>

							</tbody>
						</table>
					</div>
				</rd-widget-body>
			</rd-widget>

		</div>
	</div>
</div>
