<div ng-controller="RosterCtrl">

    <div class="row">

        <div class="col-lg-6">
            <rd-widget ng-show="errorMessage">
                <rd-widget-body classes="small no-padding">

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="text-center" colspan="2">
                                        <div class="status" ng-bind-html="errorMessage"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </rd-widget-body>
            </rd-widget>

            <rd-loading ng-hide="loaded"></rd-loading>
            <rd-widget ng-show="loaded">
                <rd-widget-header icon="fa-user" title="Roster Update for {{name}}">
                  <a href="{{editUrl}}">Add Player</a>
                </rd-widget-header>
                <rd-widget-body classes="no-padding">

                    <div class="instructions">
                        <h3><div>{{name}}</div></h3>
                        <div>Press 'Save' at the bottom when finished.</div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Owner</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="player in players">
                                    <td>
                                        <div>{{player.name}}</div>
                                    </td>
                                    <td>
                                      <select ng-click="updatePlayer(player);" ng-model="player.selectedGamer" ng-options="x.name for x in gamers">

                                      </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center" colspan="3">
                                        <button class="button button-positive" ng-disabled="!canSubmit" ng-click="submit()">Save</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" colspan="3">
                                        <div class="status" ng-bind-html="picksMessage"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </rd-widget-body>
                <rd-widget>
        </div>
    </div>
</div>
